@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&family=Noto+Sans:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-text-main dark:text-white bg-background-light dark:bg-background-dark antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight text-[#101919] dark:text-white;
  }
}

/* Small sensible defaults */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

/* Minimalist Custom Scrollbar */
@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-200 dark:bg-gray-800 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300 dark:bg-gray-700;
  }
}
