@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small sensible defaults */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

/* Minimalist Custom Scrollbar */
@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-200 dark:bg-gray-800 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300 dark:bg-gray-700;
  }
}
